[2015-04-16 13:54] edygar opened #2 "Integration with Fluxible"
How can my side effect execute an FluxibleAction? Since there is no bind to context, I couldn't achieve this. In my case, I'm doing a component called `TitledScreen` which could be used at any point of my component tree and `TitledScreen` should join the given titles in the right order and them execute an FluxibleAction, but onChange has no context.

[2015-04-16 19:17] gpbl commented on #2
@edygar could the [FluxibleComponent](http://fluxible.io/api/addons/FluxibleComponent.html) help in your case? Or just passing the context as prop?

[2015-04-16 19:38] edygar commented on #2
`FluxibleComponent` has no effect over onChange callback, since it has no references to sideEffectComponent instance. Passing context as prop would be an option, but it seems odd to me.

if `onChange` be bound to the sideEffect resulting component, it solves and allows calling instance methods.

[2015-04-16 23:27] gaearon commented on #2
Let's reimagine it as `<SideEffect onChange={} />` component instead. Then you'll have your own wrapper that can use the context in its internal `handleChange` method.

Would you like to take this?

[2015-04-17 00:38] edygar commented on #2
For sure! That would be great and very interesting, but how changes were going to be detected?

[2015-04-17 11:03] gaearon commented on #2
I haven't thought this through, so I can't say :-). I think it should work similarly to how it works now, but without `mixin` parameter and using composition instead.

This way something like

[code]

becomes something like

[code]

[2015-04-28 05:55] duro commented on #2
I think making react-side-effect context aware is key. With so many large React apps making use of Flux architectures, and nearly every Flex architecture making heavy use of Context in order to stay Isomorphic, I think that a clear integration with Context is the path forward.

[2015-04-28 14:09] gaearon commented on #2
@duro It should be easily possible to make it context-aware if refactored as I [described above](https://github.com/gaearon/react-side-effect/issues/2#issuecomment-93965407).

[2015-04-28 19:32] duro commented on #2
@gaearon When I try this, I get the following error

[code]

Here is a gist of my approach:

https://gist.github.com/duro/88d5f2cb054ddd8f9c41

[2015-04-28 20:07] duro commented on #2
Do you have a working example of this approach that does not reply on ES6 Classes? I am trying to implement this, and it seems to be fighting me at every turn.

[2015-04-28 20:45] edygar commented on #2
@gaearon, I've just tried to implement `SideEffect` using context to propagate methods from the root to branch instances of SideEffect, so they could communicate as soon as life cycle methods was called, but turns out the context isn't propagating, not until React 0.14 I guess, contexts are really hard to get as they have no doc. Anyway, If anyone has any interest to solve the problem, here follow

[2015-04-29 15:20] gaearon commented on #2
@duro

Sorry, I should have been more clear. That's the new API I _propose_. Turning `SideEffect` to a component from a factory as it is now. It's _not implemented_ so nope, you can't use it unless you also implement it ;-)

@edygar

Yeah, this makes sense. In 0.14, context will use the parent tree so your example should probably work in 0.14 (and maybe master too?).

[2015-05-07 21:43] stefanoverna opened #3 "Update dependency to React"
Is there some reason of this version lock?

[code]

[2015-05-08 22:03] cwelch5 opened #4 "Refactored as ES6 class and High-order Component"
I refactored react-side-effect as an ES6 class to be used as a high-order component instead of a mixin.  Would you be interested in seeing it, I can submit a PR?

[2015-05-09 17:58] gaearon commented on #3
Is there a lock? It was a temporary measure for 0.13 betas to be recognized as vaild, but otherwise it says “any version >= 0.11 runs”.

[2015-05-09 17:58] gaearon commented on #4
Sure, please do.

[2015-06-10 00:36] BradEstey commented on #4
👍 +1

[2015-08-11 10:58] #3 closed, assigned to nobody

[2015-08-11 18:08] itsmepetrov opened #7 "React 0.14 support"
Since 0.14 version, React does not contain 'react/lib/invariant' and 'react/lib/shallowEqual' files. Now these files are available in [facebook/fbjs](https://github.com/facebook/fbjs)  repository.

[2015-08-14 20:11] mikestopcontinues commented on #7
These effects are easy enough to write in vanilla js. I'd be happy to create a PR to that effect, @gaearon, if you're on board with the strategy.

[2015-08-14 20:12] mikestopcontinues commented on #4
+1

[2015-08-25 19:07] romanenko commented on #7
I think, this issue can be closed — #8 fixes it.

[2015-08-25 19:33] #7 closed, assigned to nobody

[2015-08-27 01:54] gaearon commented on #4
Done in 1.0.0.

[2015-08-27 01:54] #4 closed, assigned to nobody

[2015-08-27 01:55] gaearon commented on #2
React Side Effect is now a higher-order component.

[2015-08-27 01:55] #2 closed, assigned to nobody

[2015-09-02 13:05] taou-maimai opened #9 "clear 'mountedInstances' in rewind()"
otherwise it may cause server-side memory leak ?

[2015-09-02 14:38] gaearon commented on #9
Indeed, I forgot about this.
Thank you for sending a PR.
Released as `1.0.1`.

[2015-09-02 14:38] #9 closed, assigned to nobody

[2015-09-03 21:51] cwelch5 opened #11 "Suggested improvement on shouldComponentUpdate"
If I have a component that I am passing into SideEffect that has an API as follows:

[code]

The problem is that when an array of objects is passed in as a prop, SideEffect will do a shallow compare that will always consider these props different because React considers this to be a new array and objects created.  Would you consider doing a deep equal compare in shouldComponentUpdate in order to p

[2015-09-03 22:13] gaearon commented on #11
Deep equality comparison is potentially expensive.
If you need it, you may wrap the result component into another component with a stricter check.

[2015-09-03 22:13] #11 closed, assigned to nobody

[2015-09-04 17:00] lo1tuma opened #12 "Can’t find instance of wrapped side-effect component with react test utils"
I’ve tried to update to `react-side-effect` 1.0.1 today, but my tests are failing.

I have a component `MetaDescription` which is wrapped using the `withSideEffect` function.
In my test I render the `Application` component which renders `MetaDescription`.

[code]

`findRenderedComponentWithType` fails, because it can’t find an instance of `MetaDescription`:

[code]

I’ve change `react-side-effect`

[2015-09-04 18:48] gaearon commented on #12
We can either do that, or set up prototype chain properly (I think that's what confuses TestUtils).

I'd accept a PR that adds a Babel build step like in [library-boilerplate](https://github.com/gaearon/library-boilerplate) and uses proper `class SideEffect extends Component` syntax. Then it would work.

[2015-09-04 23:35] lo1tuma commented on #12
Yikes, I didn’t mean to close this issue with the reference in #13.

[2015-09-04 23:37] gaearon commented on #12
Whoopsie.

[2015-09-09 15:49] 0x80 opened #15 "Expected handleStateChangeOnClient to be a function"
I have created this component for adding and removing css classes on the document body, taking the docs as a lead, but it is giving me the title error message. What am I missing?

I'm using v1.0.1

[code]

[2015-09-09 15:54] 0x80 commented on #15
Nevermind it was a different component based on side effects throwing the error. Oops :blush:

[2015-09-09 15:54] #15 closed, assigned to nobody

[2015-09-10 21:02] jackmoore opened #16 "Warning with React 0.14.0-rc1"
Getting the following console warning when using react-document-title v2.0.0 and react-side-effect v1.0.1:

[code]

[2015-09-11 22:24] cesarandreu commented on #16
+1 It's giving me a warning with react-helmet as well.

[2015-09-12 10:45] xpepermint commented on #16
+1

[2015-09-12 13:28] #12 closed, assigned to nobody

[2015-09-12 13:44] gaearon commented on #16
Fixed in 1.0.2.

[2015-09-12 13:44] #16 closed, assigned to nobody

[2015-09-12 14:52] Sridatta7 commented on #16
Am I the only one facing this warning in 1.0.2 as well?

[2015-09-13 05:23] cesarandreu commented on #16
Thanks!

[2015-10-29 14:04] ondrejbartas opened #18 "Is server side rendering safe?"
Hi I would like to ask you.

How do you ensure that server side rendering will not mismatch in concurrent requests?

[2015-11-01 20:51] mars commented on #18
The server-side render [`ReactDOMServer.renderToString( … )`](https://facebook.github.io/react/docs/top-level-api.html#reactdomserver.rendertostring) call is synchronous, so it seems there is no need for server-side, async-safeness within React Side Effect.

But it's possible to write code using React Side Effect that will leak memory on the server. [React Document Title solves this with a `rewind

[2015-11-01 21:16] gaearon commented on #18
@mars, thank you for explaining!

[2015-11-01 21:16] #18 closed, assigned to nobody

[2015-11-01 21:16] gaearon commented on #18
See also https://github.com/gaearon/react-document-title/issues/7#issuecomment-68914797.

[2015-11-27 23:41] oztune opened #19 "Output isn't always based on nesting order"
I noticed that the documentation here and over at [Helmet](https://github.com/nfl/react-helmet) seems to imply that props get merged based on nesting order, but that's not always the case. It's based on [mounting order](https://github.com/gaearon/react-side-effect/blob/master/src/index.js#L71), which doesn't always === nesting order.

During the lifetime of the app any component can be mounted at

[2016-01-03 22:42] megakote opened #20 "Default value"
What you think to add default value for state?
 https://github.com/gaearon/react-side-effect/blob/master/src/index.js#L30

[2016-02-06 12:33] christophercrouzet commented on #19
Maybe the doc should state that to have the “innermost winning” behaviour, the `react-side-effect`ified component (such as `Helmet`) needs to be defined before `this.props.children`if any ?

This behaviour might be a nice thing to have though since it allows a parent component to force/overwrite the props regardless of what the children components define by putting the `react-side-effect`ified com

[2016-05-19 09:34] avocadowastaken opened #22 "[handleStateChangeOnClient] pass previous state"
I know it can be stored with decorated component, but it would be good to have.

Use case

[code]

[2016-06-05 21:38] ide opened #23 "API suggestion: deprecate rewind() and use a closure to prevent leaks and race conditions"
This is a proposal to deprecate the current API for server-side rendering:

[code]

and replace it with this, inspired by Aphrodite's SSR API:

[code]

This API has two advantages. It is impossible to forget to call `rewind`. It is also easy to throw an error if `DocumentTitle.renderStatic` is called in a reentrant way.

You could use this with Aphrodite easily too. The `markup` field in the resul

[2016-06-06 00:06] ide commented on #23
FWIW I wrote a wrapper for react-helmet that does this:

[code]

[2016-07-01 09:16] leonderijke opened #24 "MS Edge: Click handlers aren't called when using SideEffect"
In a recent project, I discovered some weird behaviour in MS Edge when using SideEffect in combination with nested Flexbox containers and existing children in the React mount container: click handlers in the mounted components aren't called.

The issue only surfaces in MS Edge 12 and 13. In IE 11, Chrome, Firefox and Safari the issue is not reproducible.

The following code uses React Document Tit

[2016-07-14 08:46] leonderijke commented on #24
I investigated this further and found that this has nothing to do with SideEffect nor with React. I was able to reproduce in this pen, (workaround included): http://codepen.io/leonderijke/pen/dXJyZK

It turned out to be an issue in Edge: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/5782378/

It is fixed in Edge 14. The pen includes a workaround to be used in Edge 12 and 13.

[2016-07-14 08:46] #24 closed, assigned to nobody

[2016-08-03 19:00] #22 closed, assigned to nobody

[2016-08-10 01:59] steida opened #25 "Flow warnings"
I don't know why, by from zilions Node modules I have in Este, only this library produces Flow warnings. Probably something with `fbjs`.

![screen shot 2016-08-10 at 03 58 26](https://cloud.githubusercontent.com/assets/66249/17539472/d8d42470-5eae-11e6-8f67-083e98813af8.png)

[2016-09-04 15:50] jeffhandley opened #26 "Receiving React 15 propTypes validation deprecation warning from SideEffect.render"
When rendering components using `withSideEffect`, I am getting the following warning from React (15.0.2):

[code]

It looks like this is possibly a false positive on the detection of manual propTypes validation.

[2016-09-05 14:16] glenjamin commented on #25
This module seems to be using a very old version of `fbjs`, it's not using much of its functionality and given the warning on https://github.com/facebook/fbjs I think it might be better to inline the relevant code or replace those uses with another module rather than updating to the latest fbjs.

@gaearon Would you take a PR for that? I'm open to adopting this if your focus is elsewhere these days

[2016-09-05 14:38] gaearon commented on #25
Yea totally this shouldn't depend on fbjs. Happy to take a PR.

[2016-09-05 14:43] glenjamin commented on #25
You're supposed to be on holiday! 🏖

[2016-09-05 14:44] gaearon commented on #25
I'll merge it when I'm bored 👯

[2016-11-08 13:47] koenpunt opened #30 "prevent handleStateChangeOnClient being called for server rendered items"
I'm creating a DataLayer component to interact with google tag manager in an isomorphic way.

And thus far this works great, because I collect the events using my DataLayer component, and generate a javascript snippet with the `dataLayer` variable set to the rewinded data of the component.

But when the client application loads, it calls `handleStateChangeOnClient` with the same values, even thoug

[2016-11-14 15:12] timkindberg commented on #19
Yep, we are seeing this issue as well. We have a team creating a base page component and other teams can use it and override some base helmet settings (Helmet uses this lib indirectly).

So the page looks roughly like this:

[code]

And then  we use it like this:

[code]

The children mount first, so the outer helmet acts as the inner.

:(

[2016-12-24 08:01] lourd commented on #20
Hi @megakote, apologies for the lack of response. If you're still interested in suggesting this feature, please provide more information. I'm not clear on what you're pointing out.

[2016-12-24 08:01] #20 closed, assigned to nobody

[2017-01-06 17:21] jonbretman opened #32 "Release new version from current master"
Would be great to get current master released to npm so https://github.com/nfl/react-helmet can be updated.

Is anything holding back a release?

@lourd @gaearon

[2017-01-06 18:33] lourd commented on #32
Nope! I'll get on it. Look for it later today

[2017-01-08 19:27] lourd commented on #32
Just published v1.1.0 🎉

[2017-01-08 19:27] #32 closed, assigned to nobody

[2017-01-08 19:28] lourd commented on #25
v1.1.0 no longer depends on fbjs. I'm closing this for now. Please let me know this if this is still an issue

[2017-01-08 19:28] #25 closed, assigned to nobody

[2017-01-08 22:43] lourd commented on #26
Hi @jeffhandley, thanks for the issue report! Are you still seeing this? I'm not able to reproduce the bug. Please re-open the issue if you are and post details of how to reproduce

[2017-01-08 22:43] #26 closed, assigned to nobody

[2017-01-17 04:47] cwelch5 opened #34 "Exposing length of mountedInstances to properly hydrate the client"
I'm attempting to fix this Helmet issue (https://github.com/nfl/react-helmet/issues/149) and had the idea of making the client wait until all instances are mounted before allowing `handleStateChangeOnClient` to change the DOM.  Then on the first render of the client (after SSR), it would only do one client state change which would match the server rendered side effects and thus would leave all the

[2017-01-17 16:58] lourd commented on #34
Mmm, interesting. That sounds like a good, needed feature to me. And exposing the number of mounted instances is trivial. I'm in support.

Is that all that would be required to resolve the double-mounting issue? react-helmet is capable of handling the counting & debouncing of mounted instances with just that information?

[2017-01-17 17:01] lourd commented on #30
Hey @koenpunt, thanks for the suggestion and making this issue.

What did you end up doing to get around this? We're starting a discussion related to this feature in #34. Your input would be helpful and appreciated.

[2017-01-17 22:52] koenpunt commented on #30
I went with the rather ugly solution of having 2 arrays in the source, the `dataLayer` variable for google tag manager, and `reactDataLayer`, both rendered on the server with the same data.
Then on the client, on every `handleStateChangeOnClient`, I check if it is in the `reactDataLayer` array, and if so, it gets sliced out and `dataLayer.push` isn't called.

[2017-02-17 14:12] tizmagik commented on #23
I like this. Could this also be opt-in so that .rewind() is still possible?

[2017-03-18 15:43] doctyper commented on #34
A callback after all instances mount would be useful as well. Something akin to `onMountedInstancesComplete`

[2017-05-23 07:59] gajus opened #35 "Update shallowequal dependency"
@dashed just released a v1 of https://github.com/dashed/shallowequal which (among other improvements) removes the dependency on lodash.

Despite being a major version update, it does not have breaking API changes. Therefore, an update simply requires to bump the version in package.json and release a patch.

[2017-05-23 15:41] #35 closed, assigned to nobody

[2017-05-23 15:42] lourd commented on #35
Cool cool. Just published v1.1.1 with a v1.0.0 shallowequal version dependency

[2017-05-23 15:46] lourd commented on #34
Are y'all still in need of this or was it resolved within `react-helmet`? The callback idea sounds useful, but would increase the scope of the library by a good amount.

[2017-05-23 16:04] lourd commented on #23
Are y'all still interested in this feature?

After reading @amannn's [comment](https://github.com/nfl/react-helmet/issues/216#issuecomment-269635137) in `react-helmet`, I understand why the rewind approach could be a shortcoming for some users, with the possible underlying race condition for parallel renders. The proposed API wouldn't resolve that, though. You would need to make separate side-effe

[2017-05-23 17:14] gimdongwoo opened #36 "Breaking webpack production builds using shallowequal@1.0.0"
https://github.com/dashed/shallowequal/issues/8

[2017-05-23 17:20] whymarrh commented on #36
To clarify the issue, `shallowequal@1.0.0` breaks a few folks' webpack builds as it uses ES6 `let`.

@lourd would you be interested in reverting b339b38cccb0d89a6a15e5dc32574e34d8124f63 (or a PR that does so)?

[2017-05-23 17:40] lourd commented on #36
Yup, I'll publish v1.1.2 now that reverts the commit.

[2017-05-23 17:43] #36 closed, assigned to nobody

[2017-05-23 17:46] whymarrh commented on #36
Thanks, I can confirm that everything works

[2017-05-23 18:02] daybreaker commented on #36
@lourd About how long does this take to get caught by other packages using this as a dependency?

We're using one that had "react-side-effect": "^1.1.0" and even though it grabbed 1.1.1 and broke our build, it isnt grabbing 1.1.2

Has it been officially "released" yet?

[2017-05-23 18:20] lourd commented on #36
It's officially released, yes. You can see the published versions using the yarn or npm clients, which pull from the npm registry.

[code]

Your version resolution is dependent on which package manager client you're using, and any possible caching going on in your environment.

[2017-05-23 18:24] daybreaker commented on #36
Thanks for the reply!

[2017-05-27 01:51] kanzelm3 commented on #23
+1

[2017-05-29 23:50] ide commented on #23
Yeah, I think this is mostly independent from supporting concurrent rendering but writing out some hypothetical APIs (especially since React Fiber makes concurrent rendering more relevant) has shifted my opinion a bit.

The closure API would go from:
[code]
and could receive a context value:
[code]

In contrast, the `rewind()` API instead would look look like:
[code]

I kind of like the simplicity

[2017-06-15 09:55] sarahmarciano opened #38 "Problems in installation"
after installing this library I'm not able to run react-native start and get this error:
(I'm installing it in a react native project)
`module.js:472
    throw err;
    ^

Error: Cannot find module 'anymatch'
    at Function.Module._resolveFilename (module.js:470:15)
    at Function.Module._load (module.js:418:25)
    at Module.require (module.js:498:17)
    at require (internal/module.js:20:19)

[2017-06-15 16:18] lourd commented on #38
Hi Sarah, thanks for your report.

I don't believe this library is the cause of the issue you're facing. It does not use the `anymatch` module, and it isn't in that trace. Are you sure you completely isolated the installation of this library to the cause of react native not starting for you?

[2017-06-15 19:09] sarahmarciano commented on #38
Yes, indeed this library was not the cause of the issue
Thank you for your quick response, and sorry for disturbing you

[2017-06-15 19:09] #38 closed, assigned to nobody

[2017-07-08 09:45] nadeem36212 commented on #38
helloo sarah.............

i am also having same issue, I have installed image-picker library and it doesn't installed correctly, after it when i run my project it giving me same error. I have uninstalled that library still the error is remained..

so how did u fix it can u plz tell me.?

[2017-07-09 06:44] sarahmarciano commented on #38
try to delete the package-lock.json and then run npm install

[2017-07-17 17:38] danmakenoise opened #39 "Memory Leak on Server Render?"
When analyzing our heaps on our server, the array `mountedInstances` gets larger and larger with each check, even with manually triggering garbage collection. This eventually takes up a LOT of memory.

We are currently using `react-document-title` within our isomorphic components, which in turn uses this library.

When we are on the server, it seems like we shouldn't need to keep track of mounted

[2017-07-17 18:52] danmakenoise commented on #39
Closing this as the problem is clearly addressed in the README! Nevermind!

[2017-07-17 18:52] #39 closed, assigned to nobody

[2017-10-09 18:09] tyscorp opened #40 "React v16: Error during mount causes instance to never be removed from mountedInstances"
I'm guessing `componentWillUnmount` isn't called. Would a fix be to listen to `componentDidCatch`, splice the array as in `componentWillUnmount` and then rethrow the error?

[2017-10-25 02:56] liweinan0423 opened #43 "question - why `rewind` is not supported at client side?"
I am currently working with Apollo GraphQL and I want to do some sort of `prefetch` before transiting to a new route at client side. This would need to walk through the whole component tree to fetch data before the actual rendering happens. But in my component tree, there are some component produces side effect where I have to do `rewind` after going through the component tree. But the `rewind` me

[2017-10-25 19:50] lourd commented on #43
`rewind` doesn't "rewind" in an undo sense. It gets the value of the side effect state and then clears it internally.

For your case, I think you could achieve your needs through the function you pass for `handleStateChangeOnClient`. Have some boolean variable that represents whether you want to handle side effects or not, and handle the state change differently if you are or aren't.

That's non-t

[2017-10-25 19:51] #43 closed, assigned to nobody

[2017-10-25 20:23] lourd commented on #40
Hey @tyscorp, thanks for the report. That sounds like a practical solution, from what I understand so far. Do you think you could reproduce what you're seeing in a test and open a PR with it to start work?

[2018-02-15 21:37] tyscorp commented on #40
So, I investigated fixing this and I'm not sure how to solve this in a nice way. I did come up with a hacky solution but it will not work nicely with React's upcoming`AsyncMode`.

I tried the `componentDidCatch` idea but it caused any error to look like it was coming from `react-side-effect` and not the actual component that had an error which made debugging annoying.

Moving the code to `componen

[2018-02-20 19:45] lourd commented on #40
Thanks for your exploratory work on this Tyson. Agreed, this sounds tricky.

@gaearon, could you weigh in on this? How should `react-side-effect` handle errors that occur when a component is mounted?

[2018-02-20 21:39] gaearon commented on #40
Issues like this is why we're moving towards deprecating `componentWillMount` in the future.

I think it's a bit shady that we currently track instances. This seems more like a use case for context. This also exposes a flaw in the model itself: it doesn't consider that there can be siblings. So the stack abstraction is wrong in the first place:

[code]

I guess this API is still useful though. Alt

[2018-02-20 21:58] gaearon commented on #40
I asked @bvaughn to take a look since he's thought about these hooks for longer than me. But if either of us forgets please ping us again and I'll come back to this.

[2018-02-20 21:58] lourd commented on #40
Will do, thank you Dan

[2018-02-20 23:52] bvaughn commented on #40
Generally, as has been pointed out above, the safe practice here is to use `componentDidMount` and `componentDidUpdate` lifecycles for side effects and mutations.

I'm probably overlooking something really stupid here, but could you not just change [these lines](https://github.com/gaearon/react-side-effect/blob/9b86f0a281f1b0db83d3399ca04bdad8cbcdf987/src/index.js#L70-L73):
[code]

To this:
[code]

[2018-02-20 23:59] bvaughn commented on #40
As Dan pointed out (out of band) this lib supports SSR too, so the above suggestion would not work for that case.

The SSR-only `static instanceMounted` lifecycle proposed via reactjs/rfcs/pull/8 would be helpful for that case (although it would not be a backwards compatible solution).

[2018-02-21 00:30] gaearon commented on #40
Since we already [branch](https://github.com/gaearon/react-side-effect/blob/9b86f0a281f1b0db83d3399ca04bdad8cbcdf987/src/index.js#L37) on whether we have the DOM, it seems acceptable to use the same check to push instances in render (if we're rendering on SSR).

[2018-02-21 00:49] tyscorp commented on #40
@bvaughn making that change works in some cases but not others for me. It always seems to work on the initial `ReactDOM.render`, but in some places with subsequent updates it doesn't work whereas `componentWillMount` pushes in the correct order for all my usecases.

[2018-02-21 00:52] bvaughn commented on #40
I had written a version of that locally, Dan- (using will-mount or did-mount based on `canUseDOM`). Seems a reasonable fallback solution.

Can you elaborate on these cases, @tyscorp?

[2018-02-21 00:57] bvaughn commented on #40
By the way, I pushed the changes I was playing with (and some new tests I added) to PR #45 in case it's useful. It's a little sloppy. I wasn't intending to push it.

[2018-02-21 00:58] tyscorp commented on #40
There are a few cases where I have no idea what is happening, but I can repro the issue pretty consistently by wrapping a component that uses `react-side-effect` in `react-loadable` and webpack's `import`. The components mount in reverse order the first time, then correctly afterwards.

[2018-02-21 00:58] bvaughn commented on #40
Hm. Hard to weigh in on something vague like that. Any chance you could catch it in a test?

[2018-02-21 00:59] tyscorp commented on #40
I'll try to get one up ASAP.

[2018-02-21 01:22] tyscorp commented on #40
@bvaughn [Here's](https://github.com/tyscorp/react-side-effect/blob/df97cd7eb032c2bca5a56c967b00dcb766c0a94c/test/index.spec.js#L321-L366) a failing test case. This is what `react-loadable` is doing that makes it fail. Moving the logic back to `componentWillMount` results in the correct order.

[2018-02-21 01:48] gaearon commented on #40
The thing that makes this confusing is that the stack of instances is maintained throughout the app lifetime. So it needs to be resilient to specific child subtrees mounting/updating/unmounting.

When

[code]

becomes

[code]

if we use `componentWillMount`, we get `D` and `E` in order, and even though in React 16 `componentWillUnmount` "clears" C later, it still happens to work.

However if we us

[2018-02-21 01:57] gaearon commented on #40
I think maybe the right fix is for every component in their commit-phase hooks to find the root component (through context) and cause it to call `setState` on itself (maybe passing depth as an argument).

Components themselves just return `this.props.children` from render so that *should* always be memoized and `setState` on the root shouldn't cause a deep re-render. Since we're already inside the

[2018-02-21 03:05] bvaughn commented on #40
Good observation, Dan.

I think that, combined with using the constructor (or unsafe CWM) on the server, might work.

[2018-02-21 20:44] lourd commented on #40
A context-based design would also open up clear pathways for resolving #19, #34, and #23. I don't think we would need a `rewind` method anymore since state would be contained within component instances.

One downside would be the need for some kind of SideEffectProvider component in the tree. A minor inconvenience, but still annoying.

Are you able to take on the initial work, Dan, or are you look

[2018-02-21 21:08] tyscorp commented on #40
Is a `SideEffectProvider` needed? Can't we just have some logic use the highest-level instance as the "provider"?

[2018-02-21 21:10] lourd commented on #40
That's not a bad idea. Might not work for cases where side effect components are siblings or in separate branches of the tree, though.

[2018-02-22 20:00] kyeotic opened #48 "1.1.4 is broken"
Your patch release changed the module exports. `react-document-title` is now broken

[code]

[2018-02-22 20:04] kyeotic commented on #48
@lourd I think this was your recent change to esm: https://github.com/gaearon/react-side-effect/commit/edbfaf4b6f6ddd3892366ccaa56004a328ec2c33#diff-1fdf421c05c1140f6d71444ea2b27638

[2018-02-22 20:14] lourd commented on #48
Thanks for your report Tim.

The source now uses esm, but the build output as specified by the `"main"` key in package.json did not change. It still uses CJS.

We don't include `lib/` in source control, but you can see the contents here https://unpkg.com/react-side-effect@1.1.4/lib/index.js. You can compare that to 1.1.3 here https://unpkg.com/react-side-effect@1.1.3/lib/index.js.

I just cloned r

[2018-02-22 20:16] kyeotic commented on #48
Ok. Well if I force react-side-effect to install `1.1.3` I can run. If it uses `1.1.4` I get this error. I have changed no other code.

[2018-02-22 20:18] lourd commented on #48
Can you paste the contents of `react-side-effect/lib/index.js` in your `node_modules/`?

[2018-02-22 20:38] kyeotic commented on #48
Ok, something is caching something. Maybe webpack. If I install with 1.1.4 then paste in _either_ the unpkg 1.1.3 or 1.1.4 I still get that error.

If I `npm react-side-effect@1.1.3` the issue goes away...

[2018-02-22 20:49] kyeotic commented on #48
Ok, I tested it on my build server just to be sure. If `1.1.3` is installed everything is fine. If I let `1.1.4` install transitively it breaks the tests. I don't have a good explanation for why, but it is broken. Judging by the reactions to the top post I am not alone.

Would you consider unpublishing until it gets sorted out?

[2018-02-22 20:51] kyeotic commented on #48
Maybe publish it as a beta so testing can continue from npm installation?

[2018-02-22 21:06] lourd commented on #48
I would really rather figure out the root cause than start swapping versions around. I've tested 1.1.4 against `react-document-title`, `react-helmet`, and `react-document-meta` and all of them passed their test suites without a problem.

I'm sorry there are some builds breaking. Folks who are having issues can pin their version to 1.1.3 for now.

Other questions on what you're seeing:

- Is there

[2018-02-22 21:16] kyeotic commented on #48
I do not have multiple dependencies, but I am using the `create-react-app` webpack configuration, so maybe it is using the esm version.

Im going to have to version pin about 6 projects. And that's just me, 3 other people have upvoted this. I think you should care more about the broken builds you have caused.

[2018-02-22 21:18] kyeotic commented on #48
You broke transitive dependants in a semver _patch_. Builds will start failing with zero code changes. You are literally accepting unit tests results over real world failures.

[2018-02-22 21:30] lourd commented on #48
I understand your frustration and I'm eager to figure out why it's happening. If projects have their dependencies locked down then they won't start failing. Can you, or any of the other folks who are having this issue, share a reproduction?

[2018-02-22 21:36] kyeotic commented on #48
Yes, if instead of allowing semver to update security patches they lock down even their transitive dependencies (which `react-document-title` does not do) they will not be affected. I don't think you should be using that as a shield though.

[2018-02-22 21:38] kyeotic commented on #48
I will have to trim out our app code to make a repro for you, but right now I have a bunch of projects to update. I will have more time to help you debug tomorrow.

[2018-02-22 21:47] mikecousins commented on #48
Yup, we're getting this too. Our builds today are all failing due to this and pinning react-side-effect to 1.1.3 fixes it.

[2018-02-22 21:48] me717 commented on #48
Likewise.  This is causing our projects with react-document-title to fail.

[2018-02-22 21:50] lourd commented on #48
Thanks for your reports @mikecousins and @me717. Are your build failures also coming through `react-document-title` or another module?

[2018-02-22 21:51] mikecousins commented on #48
We see it through react-document-title and also survey-react.

[2018-02-22 21:53] me717 commented on #48
We are seeing it through react-document-title

[2018-02-22 21:56] lourd commented on #48
Mike, can you paste what you're seeing from `survey-react`? I'm not seeing `react-side-effect` or `react-document-title` or another related module else as a dependency of that project.

[2018-02-22 21:58] mikecousins commented on #48
On second thought it might just be messed. Here's what I'm seeing:

![image](https://user-images.githubusercontent.com/725614/36566463-c9fb402c-17e0-11e8-98ac-531445e2292e.png)

[2018-02-22 22:04] lourd commented on #48
Hm. Can't tell much from that 😕

Can you paste the contents of your `node_modules/react-side-effect/lib/index.js` file?

[2018-02-22 22:04] mikecousins commented on #48
With it pinned at 1.1.3 or floating?

[2018-02-22 22:04] lourd commented on #48
Floating

[2018-02-22 22:05] mikecousins commented on #48
[code]

[2018-02-22 22:07] lourd commented on #48
That's v1.1.3. Can you verify that your build is using v1.1.4 and paste that?

[2018-02-22 22:11] mikecousins commented on #48
Oops, sorry, didn't update:

[code]

[2018-02-22 22:17] lourd commented on #48
Well, it's definitely got the export:

You've tried deleting your `node_modules/` and re-installing and still get the same error?

[2018-02-22 22:20] mikecousins commented on #48
Yup, still the same error. Our CD server builds from scratch and our dev instance deployments are messed now.

[2018-02-22 22:29] lourd commented on #48
Can you include the other details in your build?

- OS version
- npm or yarn version
- Node version

Of course a reproduction repo would be the most helpful

[2018-02-22 22:32] mikecousins commented on #48
* Windows 10 Pro 1709 16299.192
* npm 5.6.0
* yarn 1.3.2
* node 9.5.0

It's also failing for co-workers on OS X and our Linux build server (CentOS). Build server is probably running an older version of node/npm.

[2018-02-22 22:54] ek5000 commented on #48
I think I've narrowed it down. `react-document-title` doesn't use a transpiler, so its `require('react-side-effect')` is used "bare", without the `_interopRequireDefault` that most projects seem to use. But as of `1.1.4`, this project now exposes "module" in it's `package.json`, which uses a default es2015 export.

So if you're using a "module" aware build system, such as `webpack>=2`, then `requi

[2018-02-22 23:06] lourd commented on #48
Hey @ek5000, thanks for helping out.

I think you're right that it's related to webpack and the presence of the `"module"` field, but I don't quite understand why, yet. [`lib/index.js`](https://unpkg.com/react-side-effect@1.1.4/lib/index.js), the file specified as `"main"`, simply uses `module.exports = fn`. Requiring the module from a Node REPL, [described earlier](https://github.com/gaearon/reac

[2018-02-22 23:09] mikecousins commented on #48
We're using 3.11.0.

[2018-02-22 23:20] ek5000 commented on #48
We're using `2.7.0`. As for why, I think it's because webpack defaults first to using `"module"`, then falls back to using `"main"`. You can change that behavior by setting [mainFields](https://webpack.js.org/configuration/resolve/#resolve-mainfields), but this sets it for all dependencies, and hurts tree shaking.

[2018-02-22 23:29] lourd commented on #48
Alright, I just tried the test suite for `react-document-title` and `react-helmet` with v1.1.4 on a Windows machine and it worked fine.

Then I created a [small test repo](https://github.com/lourd/react-side-effect-bug-hunt) to test with webpack-bundled code, and it also worked fine. I tested against Webpack v2 and v3. No luck.

Let me be clear — I believe all of you, I'm just trying to reproduce

[2018-02-22 23:34] ek5000 commented on #48
Try it with this change
[code]

output:
[code]

The latter is what `react-document-title` has.

[2018-02-22 23:40] lourd commented on #48
Bingo. I'm gonna hit up one of the webpack guys to figure this out.

[2018-02-22 23:58] mayank23 commented on #48
I think you need to build a commonjs compatible version and point the "main" property in the package.json to it. Example: https://github.com/arnaudbenard/redux-mock-store/blob/master/package.json#L5

[2018-02-23 00:02] lourd commented on #48
Hey Mayank, thanks for the suggestion.

The "main" property does point to a CJS version, [`lib/index.js`](https://unpkg.com/react-side-effect@1.1.4/lib/index.js). It appears that webpack is using the [ESM version](https://unpkg.com/react-side-effect@1.1.4/lib/index.es.js) when using `require` instead of the CJS version.

[2018-02-23 00:16] #48 closed, assigned to nobody

[2018-02-23 00:19] TheLarkInn commented on #48
Hey hey @lourd.

See here: https://webpack.js.org/configuration/resolve/#resolve-mainfields

Also why is this breaking peoples builds, is this because folks are still doing CJS require on this module?

[2018-02-23 00:24] lourd commented on #48
I've gone ahead and published 1.1.5 which doesn't have a "module" property in the package.json, which resolves the issue and will stop builds from breaking while we figure this out.

Because react-document-title is [using CJS](https://github.com/gaearon/react-document-title/blob/master/index.js#L5), builds were breaking.

How should I resolve this? Even if I update react-document-title there may b

[2018-02-23 00:28] TheLarkInn commented on #48
I did submit this anyways, but likely given the context should be a SemVer Major since it is breaking change.

https://github.com/gaearon/react-document-title/issues/55

[2018-02-23 00:38] lourd commented on #40
Given all of the shenanigans (#48) I caused by trying to publish the library as an ESM in a patch version, it would be nice to publish just 1 new major version that has API changes and module format changes.

[2018-02-24 05:47] realityking commented on #48
Urgh, I wish I had seen #46. This is the exact issue I've hit with some other packages that I alluded to in https://github.com/gaearon/react-side-effect/pull/42#issuecomment-367597456. Sorry, I should have explained that in more detail.

[2018-02-28 18:53] tyscorp commented on #40
I wonder if this would be a good time to get rid of the stack abstraction and switch to a tree structure. We could provide a helper function that flattens it out into its current stack for backwards compatability.

Maybe something like this:

[code]

[2018-03-24 15:39] jituanlin opened #50 "How about this"
Manage stateful data is painful, but with some functional pattern math power, we can do it simply,
See [this](https://jituanlin.github.io/frontend/Bind-API-In_React-one-line.html)
For now, It just bind API for stateful data, but I will implement it for Redux.

[2018-03-25 22:07] tyscorp commented on #40
I whipped up a little [proof-of-concept](https://gist.github.com/tyscorp/24516f1fdb8974a637b075cc9167a690) using React's new Context API. The code isn't that clean (lots of repetition) but it seems to work.

It works by registering each instance after it mounts to its parent's state which is found through context. This bubbles up until it reaches the `Provider` which then reduces the props of the

[2018-03-27 18:18] lourd commented on #50
Hi @jituanlin, thanks for sharing your article 🙂

The issue tracker is intended for bug reports, feature requests, and other library-specific discussion. I encourage you to share the article on other channels where it will have a better chance at attracting attention

[2018-03-27 18:18] #50 closed, assigned to nobody

[2018-04-02 18:05] lourd commented on #40
Hey @tyscorp, thanks for the exploration!

I've got a lot going on for the next month or so (I'm changing jobs, moving, and I broke my forearm on my dominant hand 😬), so I will not be able to contribute much at all. Community help very much appreciated!

cc past contributors: @glenjamin, @lo1tuma, @realityking

[2018-04-05 22:57] jnields commented on #34
@doctyper AFAIK Helmet faces the same issue as before w/ `defer: false` - right now the only reason it doesn't update the DOM on initial render is because it defers those updates to occur after a shared animation frame that gets canceled and replaced when children / siblings get rendered. But this doesn't happen when you have `<Helmet defer={false} />`

So I still think that this would be very hel

[2018-04-06 17:55] jnields commented on #40
@gaearon the gist of forcing an update to the root component via context in order to flush changes a single time works as you described ...

https://gist.github.com/jnields/650834c2e142aacd38f16b263153c8b1

But this still doesn't solve the issue of how nested side effects should be ordered in the stack - maybe providing a tree structure and using this approach to flush state changes in one batch i

[2018-04-06 20:12] jnields commented on #40
I also wonder whether the side effect should occur in `componentDidUpdate` or `componentWillUpdate` - there's often a case for a side effect to occur _before_ render rather than after

[2018-04-06 20:13] bvaughn commented on #40
Side effects are only safe in the commit phase (after render).

[2018-04-06 22:52] jnields commented on #40
I might also suggest adding an optional context prop of a plain object to the `Provider` if this approach is taken.

[There's some precedence for this with react-router](https://github.com/ReactTraining/react-router/blob/master/packages/react-router/docs/api/StaticRouter.md#context-object) and it'd be a very simple API

[code]

[2018-04-08 22:13] tajo commented on #40
Hey, I was looking for some solution to nest document.titles that would support API as:

[code]

that outputs

[code]

but is seems that react-helmet or react-document-title (react-side-effect) always do "the deepest one wins" without possibility to compose upstream titles.

So inspired by this thread (great read btw!) I just put together a library [react-titled](https://github.com/tajo/react-titl

[2018-04-10 11:51] kouhin commented on #40
We forked react-side-effect and create https://github.com/openameba/react-reffect.

[code]

[code]

We haven't made a PR to  react-side-effect just because this library is not using HOC.

[2018-11-11 16:29] jfrolich opened #54 "Uses legacy componentWillMount"
This component does not work in concurrentMode

[2018-11-16 06:03] lourd commented on #54
Hey Jaap, thanks for noticing and filing an issue!

I went ahead and started work at resolving this on the [`use-did-mount` branch](https://github.com/gaearon/react-side-effect/commit/879793a05c471f144b5e9d49423325a28fc08403). Can you please review it and also add a test case that makes sure the library is now concurrent mode compliant? Just fork from my branch.

Let me know if you have any questi

[2018-11-16 07:52] jfrolich commented on #54
Not sure I have time to write a test, I don't use this library directly, just wanted to report it :)

[2018-11-26 22:33] tyscorp commented on #54
Changing from `componentWillMount` to `componentDidMount` isn't enough as described here: #40

[2019-01-23 01:46] seansfkelley commented on #54
This also triggers warnings when using `StrictMode`.

[2019-03-06 10:42] skizzo opened #55 "Tab Navigation + Different Tab Stack Lengths"
Hi,
I'm trying to use this wonderful library to implement the Android Back Button functionality mentioned in [this blog article](https://medium.com/the-many/handling-android-back-button-events-in-react-native-with-custom-components-b33c63b0633b).

Problem is, my use case is a little different, it can't automatically use the "last mounted" component I use for catching the back button event, it need

[2019-08-09 17:03] mikecousins commented on #54
This now barfs warnings in React v16.9.

[2019-08-09 19:40] lourd commented on #54
I'm gonna ping Dan on Twitter and ask if he can chime in here.

[2019-08-09 20:40] gaearon commented on #54
I’ll take a look on Monday if I don’t forget. However this whole library doesn’t really make sense to me anymore so I’d encourage migrating away from these patterns. For example it wouldn’t work with a streaming renderer. Something using context would probably make more sense.

[2019-08-09 20:42] mikecousins commented on #54
Yeah, it's used in react-document-title. So I guess we'll need to get away from using that or rewrite react-document-title away from react-side-effect. react-helmet also uses it.

[2019-08-16 07:14] danielweck commented on #54
Looks like `react-helmet-async` is a useful alternative:
https://github.com/staylor/react-helmet-async

[2019-08-16 07:15] danielweck commented on #54
Sorry, I posted my previous comment in the wrong repo! :)

[2019-08-26 10:37] kud commented on #54
I'm here only because I also use `react-document-title`.

@mikecousins ' solution sounds the idea!

[2019-09-17 13:25] verheyenkoen commented on #54
I see commit f75bc966aedcd136246836afd7289c4bc4496c25 already added the `UNSAFE_` prefix to the `componentWillMount` method to suppress the warning for this React major version.

Not sure if this makes any sense but I just locally replaced that method name with `componentDidMount` (as suggested by the warning message) and all tests still pass. Could that be enough to fix this issue as a whole?

[2019-09-17 17:47] lourd commented on #54
Unfortunately not, I believe there's just a coverage gap in the tests
regarding mounting order. There's discussion in another issue or PR where
we figured that out.

On Tue, Sep 17, 2019, 9:26 AM Koen Verheyen <notifications@github.com>
wrote:

[2019-11-11 07:19] acrazing commented on #40
This will cause a memory leak when using in SSR, Is there anyone who is maintaining this problem?

[2019-12-16 01:08] voodoocreation opened #62 "Replace `UNSAFE_componentWillMount` with `constructor`"
This could be remedied by replacing `UNSAFE_componentWillMount` with a `constructor` definition, as that is the modern equivalent of using the now-deprecated `componentWillMount`. It will also avoid limiting your supported versions of `react`, as it's both backwards and forwards compatible.

https://github.com/gaearon/react-side-effect/blob/f1e020719f5cc429b96b260cab80ed51b63421a5/src/index.js#L70

[2020-01-06 15:06] sabarasaba commented on #62
any chance we can get this merged in @gaearon ? this package is heavily used by `react-helmet` and im sure im not the only one bugged by all the warnings it generates :cat:

[2020-01-06 15:13] andreyluiz commented on #62
@sabarasaba, there is https://github.com/iest/react-body-classname which is potentially impacted by this too.

[2020-01-31 22:55] sophiebits commented on #62
Renaming to constructor isn't the correct fix as it won't be properly compatible with concurrent mode, where the render phase (including the constructor) might be called more than once.

[2020-02-01 03:24] gaearon commented on #62
Like Sophie says, this isn't the right fix. https://github.com/gaearon/react-side-effect/pull/63#issuecomment-577149849

[2020-02-01 03:24] #62 closed, assigned to nobody

[2020-04-23 18:01] dangreen opened #65 "Doesn't work with ES6 classes."
https://unpkg.com/browse/react-side-effect@2.1.0/lib/index.es.js
line 68:
[code]

If `_PureComponent` is ES6 class then we have `TypeError: Class constructor PureComponent_PureComponent cannot be invoked without 'new'`.

[2020-04-23 18:07] dangreen commented on #65
`react` was replaced with [`preact` sources](https://unpkg.com/browse/preact@10.4.0/src/).

This is not a standard case, but maybe you can add source file into package too?

[2020-05-08 19:15] roydukkey opened #66 "Update module based on the strict mode suggestions."
When using [`React.StrictMode`](https://reactjs.org/docs/strict-mode.html)

[2020-05-09 06:29] #66 closed, assigned to nobody

[2020-06-10 15:55] codeaid commented on #54
So does this issue that was opened back in 2018 have any resolution? React helmet is throwing `Using UNSAFE_componentWillMount in strict mode is not recommended` and it seems it's because of this library.

[2020-06-10 16:01] kud commented on #54
-> https://github.com/staylor/react-helmet-async

[2022-08-04 11:41] softwarecreations opened #82 "React 18.2.0 peer-dependency problem with react-helmet@6.1.0"
EDIT: Sorry after making this issue, I realized the issue probably needs to be fixed in `react-helmet`.
Feel free to close this issue if it's irrelevant to react-side-effect.

[code]
[code]

[2022-08-04 11:51] softwarecreations commented on #82
Nevermind. I deleted node_modules and package lock then `npm i` and all was well.

[2022-08-04 11:51] #82 closed, assigned to nobody